@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar{
    display: none;
  }
  
  .scrollbar-hide{
    scrollbar-width: none;
  }

  .gradient-text {
    background: linear-gradient(to right, red, orange, rgb(232, 4, 42));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

